<div *ngIf="!edu" class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <h4 class="card-header">User Details</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" />
                <div *ngIf="form.invalid && submitted">
                    <div class="error-block" *ngIf="form.controls['firstName'].hasError('required')">First Name is
                        required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" />
                <div *ngIf="form.invalid && submitted">
                    <div class="error-block" *ngIf="form.controls['lastName'].hasError('required')">Last Name is
                        required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" />
                <div *ngIf="form.invalid && submitted">
                    <div class="error-block" *ngIf="form.controls['username'].hasError('required')">Username is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" />
                <div *ngIf="form.invalid && submitted">
                    <div class="error-block" *ngIf="form.controls['password'].hasError('required')">Password is required
                    </div>
                    <div class="error-block" *ngIf="form.controls['password'].hasError('minlength')">Password must be at
                        least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    Next
                </button>
                <a class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div *ngIf="edu">
    <app-education (sendData)=showDetails($event) [userData]="userDetails"></app-education>
</div>

<div *ngIf="registerConfirm" class="content">
    <div class="container">
       <div class="message">You have successfully registered!!!!!!</div> 
        <div class="list-align"><label>Your Details:</label></div>
        <div class="list-align">
            <label><b>First Name:</b></label><span></span> {{userDetails.firstName}}
        </div>
        <div class="list-align">
            <label><b>Last Name:</b></label><span></span>{{userDetails.lastName}}
        </div>
        <div class="list-align">
            <label><b>User Name:</b></label><span></span>{{userDetails.username}}
        </div>
        <div class="list-align">
            <label><b>College Name:</b></label><span></span>{{userDetails.education.collegeName}}
        </div>
        <div class="list-align">
            <label><b>Year of Completion:</b></label><span></span>{{userDetails.education.passOut}}
        </div>
        <div class="list-align">
            <label><b>CGPA:</b></label><span></span>{{userDetails.education.score}}
        </div>
    </div>
</div>